<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PlanIt</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
</head>
<body>
<div class = "header">
    <div class = "main-title">
        <img src="{{ url_for('static', filename='assets/logos/planitlogo2.png') }}" alt="Main-Logo" class="logo">
        <h1 class = "title">PlanIt</h1>
    </div>

</div>
<nav class = "navbar">
    <ul>
        <li><a href="#info" id="info-button">Info</a></li>
        <li><a href="">Sorting Filter</a></li>
        <li><a href="">Search</a></li>
        <li><a href="">Theme</a></li>
    </ul>
</nav>
<div id="info" class="info"></div>



<div class="notebook-wrapper">
    <section class="notebook-area">
    <h2 class="notebook-title">Notebook</h2>
    <div class="notebook-section">
        <div class="notebook" id="taskList"></div>
    </div>
    </section>
    <div class="task-area">
    <h2 class="input-title">Input Tasks Here</h2>
        <div class="task-input">
    <input type="text" id="taskInput" name="task-box" placeholder="Enter your task here">
    <button class="button"  id="submitButton">Submit</button>
    <label class="category" onclick="addCategory()">Add Category</label>

    <select class="button" name="category" id="category">
        <option value="education">Education</option>
        <option value="shopping">Shopping</option>
        <option value="grocery">Grocery</option>
        <option value="health">Health</option>
        <option value="bills">Bills</option>
    </select>


    <label  class="priority"  onclick="addPriority()">Add Priority</label>

    <select class="button" name="priority" id="priority">
        <option value="low">Low</option>
        <option value="medium">Medium</option>
        <option value="high">High</option>
    </select>

</div>

<img src="{{ url_for('static', filename='assets/media/lofi.gif') }}" alt="studying" class="gif-lofi">
</div>
</div>


<footer class="site-footer">
    <p>@ 2025 PlanIt - By Sabrina Ira and Elian Sarmiento</p>

</footer>


    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>